.catalog-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin-bottom: 50px;
	.right-content {
		width: calc(100% - 328px);
		.title-page {
			padding-bottom: 80px;
		}
	}
}