.content-mobile-nav {
	display: none;
}
.header .menu-content-mobile {
	display: none;
}
.wrapper-header-mobile {
	display: none;
}
.motoman-mobile {
	display: none;
}
.btn-filter-form {
	display: none;
}
.blur-class {
	display: none;
}
.filter-close {
	display: none;
}
.mobile-header-product {
	display: none;
}
.product-number-mobile {
	display: none;
}
.product-remove-mobile {
	display: none;
}
.woocommerce-checkout-payment {
	display: none;
}
.product-stock-mobile {
	display: none;
}

@media (max-width: 1200px) {
	.header .menu-content {
		flex-wrap: wrap;
	}
}

@media (max-width: 1020px) {

}

@media (max-width: 767px) {

}

@media (max-width: 576px) {

	.content-mobile-nav {
		display: block;
	}
	.header .menu-content-mobile {
		display: block;
	}
	.wrapper-header-mobile {
		display: block;
	}
	
	.content-area, .wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.our-advantages {
		flex-direction: column;
		align-items: flex-start;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.our-advantages .content {
		margin-bottom: 30px;
	}
	.header .wrapper-top-header {
		display: none;
	}
	.header .center-header {
		display: none;
	}
	.center-header-mobile {
		display: block;
	}
	.header .menu-content-desctop {
		display: none;
	}
	.header .menu-content-mobile {
		display: flex;
	}
	.header .menu-content .item-box .menu-item .button-form {
		max-width: 200px;
		width: 100%;
	}
	.header .menu-content .item-box {
		width: 48%;
	}
	.slider-box .slider-header .slide .content-slide .title {
		transform: none;
		margin-top: 0;
		margin-left: 0;
		padding: 20px;
		width: 100%;
	}
	.slider-box .slider-header .slide .content-slide .title span {
		font-size: 19px;
		line-height: 24px;
	}
	.slider-box .slider-header .slide .content-slide .action-time span {
		font-size: 14px;
		line-height: 20px;
		padding: 20px;
		padding-left: 56px;
	}
	.slider-box .slider-header .slide .content-slide .action-time span:before {
		content: '';
		display: inline-block;
		width: 150%;
		height: 52px;
		border: 3px solid #fff;
		position: absolute;
		top: -10px;
		right: -15px;
		z-index: -1;
	}
	.slider-box .slider-header .slide .content-slide .action-time {
	  margin-left: -30px;
	  width: 240px;
	  margin-top: 15px;
	}
	.slider-box .slider-header .slide .content-slide .image-slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 534px;
		z-index: -1;
		object-fit: cover;
		object-position: center;
	}
	// .slider-header .slick-prev {
	// 	display: none !important;
	// }
	// .slider-header .slick-next {
	// 	display: none !important;
	// }
	.title-block:before {
		display: none;
	}
	.title-block span {
		padding: 0;
	}
	.title-block {
		font-size: 24px;
	}
	.products {
		margin-left: 0;
		margin-right: 0;
		justify-content: space-between;
	}
	.products .product {
		max-width: 180px;
		width: 100%;
		min-height: 330px;
		margin-left: 0;
		margin-right: 0;
	}
	.products .product .woocommerce-LoopProduct-link {
		max-width: 180px;
		width: 100%;
		height: 240px;
	}
	.products .product .link-title .woocommerce-loop-product__title {
		font-size: 13px;
	}
	.products .product .more-details {
		font-size: 13px;
	}
	.products .product .price {
		font-size: 16px;
		margin-top: -30px;
		margin-left: 10px;
		font-weight: 700;
	}
	.products .product .price .woocommerce-Price-currencySymbol {
		font-size: 13px;
	}
	.products .product .woocommerce-LoopProduct-link .onsale {
		font-size: 12px;
		padding: 2px 10px;
		right: 10px;
		bottom: 10px;
	}
	.products .product .more-details {
		padding: 5px 30px;
	}
	.products .product .link-add-to-cart {
		right: 0px;
		bottom: 10px;
		width: 28px;
		height: 28px;
	}
	.products .product .link-title .woocommerce-loop-product__title:before {
		height: 35px;
	}
	.products .product .link-title .woocommerce-loop-product__title {
		margin-top: 0;
		margin-bottom: 40px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.products .product .link-title {
		margin-top: 20px;
	}
	.instagram .instagram-box .instagram-post a {
		width: 100%;
		height: 380px;
		display: inline-block;
  	}
	.instagram .instagram-box .instagram-post a img {
		width: 100%;
		height: 380px;
		object-fit: cover;
  	}
	.services .wrapper .service-box {
		grid-template-columns: 215px;
	}
	.services .wrapper .services-bg {
		height: 100%;
	}
	.sign-up {
		position: inherit;
		right: 0;
		bottom: 0;
	}
	.services .wrapper .title {
		font-size: 26px;
		text-align: center;
	}
	.footer .center-footer ul {
		display: initial;
		column-count: 2;
    	column-width: 150px;
	}
	.footer .center-footer ul li a {
		font-size: 13px;
	}
	.footer .center-footer ul li:not(:last-child):after {
		display: none;
	}
	.footer .center-footer ul li {
		margin-bottom: 15px;
	}
	.footer .center-footer {
		padding-top: 20px;
		padding-bottom: 5px;
		height: 100%;
	}
	.footer .bottom-footer {
		height: 100%;
		flex-wrap: wrap;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer .bottom-footer .item-footer:nth-child(1) {
		order: 1;
		width: 50%;
		margin-bottom: 20px;
	}
	.footer .bottom-footer .item-footer:nth-child(2) {
		order: 3;
		width: 100%;
	}
	.footer .bottom-footer .item-footer:nth-child(3) {
		order: 2;
		width: 50%;
		margin-bottom: 20px;
	}
	.footer .bottom-footer .item-footer button {
		padding: 0;
		margin-top: 10px;
	}
	.instagram .instagram-box {
		max-width: 380px;
		width: 100%;
	}
	.equipment {
		height: 100%;
	}
	.equipment .wrapper.tabs {
		flex-direction: column;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:before {
		display: none;
	}
	
	.equipment .wrapper .left .tabs-nav {
		flex-direction: column;
	}
	.equipment .wrapper .left {
		width: 100%;
	}
	.equipment .wrapper .right {
		width: 100%;
	}
	.equipment .wrapper .left .tabs-nav .motoman {
		display: none;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:not(:last-child) {
		margin-bottom: 15px;
  	}
	.equipment .wrapper .left .title {
		font-size: 26px;
	}
	.motoman-mobile {
		display: block;
		margin-top: -30px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 15px;
		max-width: 50%;
		width: 100%;
		position: relative;
		left: 50px;
		order: 1;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:nth-child(8) {
		order: 2;
	}
	.equipment .wrapper .left .tabs-nav .nav {
		margin-left: 0;
		margin-top: 10px;
		padding-top: 5px;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item label:after {
		left: -25px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item label:before {
		left: -25px;
	}
	.equipment .wrapper .right .tabs-content .slider-tab .slick-dots {
		position: absolute;
		top: -40px;
		right: 0;
		bottom: auto;
		width: 78px;
  	}
	.equipment .wrapper .right .tabs-content .right-title .title {
		margin-top: 0;
		font-size: 18px;
		position: relative;
		bottom: -25px;
		margin-left: 7px;
	}
	.equipment .wrapper .right .tabs-content .right-title .slider-navigation {
		display: none;
	}
	.products .product .link-add-to-cart .add_to_cart_button {
		width: 30px;
		height: 30px;
	}
	.products .product .link-add-to-cart>svg {
		width: 15px;
		height: 15px;
	}
	.equipment .wrapper .right .tabs-content .slider-tab .product .link-add-to-cart>svg {
		width: 15px;
		height: 15px;
	}
	.icon-product-box>li span.icon-product-hit,
	.icon-product-box>li span.icon-product-sale,
	.icon-product-box>li span.icon-product-new {
		font-size: 12px;
		padding: 2px 10px;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form:before {
		display: none;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form:after {
		display: none;
	}
	.header .menu-content .item-box.item-box-no-hover.active .menu-item .button-form:before {
		display: none;
	}
	.header .menu-content .item-box .menu-item .button-form:after {
		display: none;
	}
	.header .menu-content .item-box .menu-item .button-form {
		height: 100px;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form {
		height: 107px;
	}
	.header .menu-content .item-box.item-box-no-hover.active .menu-item .button-form {
		height: 107px;
	}
	.wrapper-header-mobile {
		.top {
			background-color: #fff;
			height: 80px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.nav-mobile {
				position: relative;
				width: 50px;
				height: 50px;
				cursor: pointer;
				border-radius: 50%;
				z-index: 450;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.line {
					width: 30px;
					height: 2px;
					display: block;
					background-color: #323534;
					transition: $transition;
					position: relative;
					&:before {
						content:'';
						display: inline-block;
						width: 30px;
						height: 2px;
						background-color: #323534;
						position: absolute;
						top: 7px;
						left: 0;
					}
					&:after {
						content:'';
						display: inline-block;
						width: 30px;
						height: 2px;
						background-color: #323534;
						position: absolute;
						bottom: 7px;
						left: 0;
					}
				}
				// &.nav-active {
					
				// }
			}
			.logo {
				max-width: 220px;
			}
			.cart-box {
				margin-left: 0;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				.basket-btn img {
					width: 30px;
					height: 30px;
				}
			}
		}
		.bottom {
			height: 70px;
			display: flex;
			align-items: flex-end;
			.search {
				width: 100%;
				.woocommerce {
					min-height: auto;
				}
			}
		}
	}
	.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
		width: 100%;
		height: 50px;
		font-size: 14px;
		line-height: 100%;
		padding: 10px 15px;
		margin: 0;
		background: transparent;
		border: 2px solid #fff;
		border-radius: 3px;
		box-sizing: border-box;
		color:#fff;
  	}
	  .js-dgwt-wcas-overlay-mobile .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input  {
		color: #000;
	  }
	.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
		padding: 0;
		height: 50px;
	}
	.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
		display: none;
	}
	.slick-initialized .slick-slide > div {
		display: flex;
		justify-content: center;
	}
	.cart-box .basket-btn-counter {
		top: 6px;
		right: 0;
	}
	.services .wrapper .content {
		position: relative;
		padding: 50px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
  	}
	.content-mobile-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 700;
		background: rgba(27, 30, 29, 0.4);
		backdrop-filter: blur(8px);
		height: 100vh;
		width: 100%;
		display: none;
		transition: $transition;
		&.active {
			display: flex;
			transition: $transition;
		}
		.content {
			position: relative;
			z-index: 500;
			width: 300px;
			background-color: #323534;
			padding: 20px;
			box-sizing: border-box;
			overflow-y: scroll;
			.title-mobile-nav {
				font-size: 16px;
				line-height: 140%;
				color: #FFFFFF;
				@include fontBold();
				padding-bottom: 15px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
			}
			.box-menu-1 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
				.basket-btn {
					font-size: 16px;
					line-height: 140%;
					letter-spacing: 0.02em;
					color: #FFFFFF;
					@include fontRegular();
					&:not(:last-child) {
						margin-bottom: 10px;
					}
					img {
						width: 30px;
						height: 30px;
						object-fit: contain;
						object-position: center;
					}
				}
			}
			.box-menu-2 {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
				.catalog-menu {
					.catalog-title {
						@include fontRegular();
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: #FFFFFF;
						margin-bottom: 18px;					
					}
					.menu-content-mobile-nav {
						display: none;
						&.active {
							display: block;
						}
						.item-box {
							margin-bottom: 18px;
							.menu-item {
								font-size: 16px;
								line-height: 140%;
								letter-spacing: 0.02em;
								color: #FFFFFF;
								@include fontRegular();
								cursor: pointer;
								padding-left: 10px;
								display: inline-block;
								position: relative;
								&:before {
									content:'';
									display: inline-block;
									width: 3px;
									height: 3px;
									background-color: #FACE50;
									position: absolute;
									top: 10px;
									left: 0;
									border-radius: 50%;
								}
								.button-form {
									background-color: transparent;
									font-size: 16px;
									line-height: 140%;
									letter-spacing: 0.02em;
									color: #FFFFFF;
									@include fontRegular();
									padding: 0;
								}
							}
						}
					}
				}
				.top-right-menu-mobile {
					li {
						&:not(:last-child) {
							margin-bottom: 18px;
						}
						a {
							@include fontRegular();
							font-size: 16px;
							line-height: 140%;
							letter-spacing: 0.02em;
							color: #FFFFFF;
						}
					}
				}
			}
			.box-menu-3 {
				.box-soc-title {
					@include fontBold();
					font-size: 16px;
					line-height: 140%;
					color: #FFFFFF;
					margin-bottom: 10px;
				}
				.social {
					li {
						&:not(:last-child) {
							padding: 0;
							padding-right: 20px;
					  }
					}
				}
			}
		}
	}
	.catalog-content .left-filter {
		position: absolute;
		left: -308px;
		z-index: 500;
	}
	.catalog-content .right-content {
		width: 100%;
	}
	#response {
		justify-content: space-between;
	}
	#catalog_loadmore .btn_click, #true_loadmore .btn_click {
		width: 100%;
	}
	.catalog-content {
		margin-bottom: 0;
	}
	#response .right {
		display: none;
	}
	.form-filter .left .title-class {
		display: none;
	}
	.form-filter .left .select-class {
		border: 1px solid #fff;
		left: 10px;
		width: 180px;
		max-height: 27px;
	}
	.form-filter .left .select-class {
		@include fontRegular();
		font-size: 12px;
	}
	.btn-filter-form {
		display: flex;
		justify-content: flex-end;
		margin-top: -45px;
		margin-bottom: 20px;
	}
	.btn-filter-form span {
		width: 180px;
		height: 27px;
		line-height: 27px;
		text-align: center;
		background: #FACE50;
		border-radius: 1px;
		@include fontRegular();
		font-size: 12px;
	}
	.catalog-content .left-filter.active-filter {
		left: -10px;
		display: flex;
    	align-items: flex-start;
		position: relative;
	}
	.form-absolute.active {
		display: none;
	}
	.catalog-content .blur-class.active {
		display: block;
		position: absolute;
		top: 0;
		left: -10px;
		background: rgba(27, 30, 29, 0.4);
		backdrop-filter: blur(8px);
		height: 100%;
		width: 110%;
		z-index: 40;
	}
	.content-area {
		overflow: hidden;
	}
	.filter-close {
		display: block;
	}
	.text-upper-mobile {
		display: none;
	}
	.woocommerce-product-gallery .woocommerce-product-gallery__image {
		max-width: 400px;
		width: 100%;
		height: 400px;
	}
	.woocommerce-product-gallery .woocommerce-product-gallery__image>a {
		max-width: 400px;
		width: 100%;
		height: 400px;
	}
	.woocommerce-product-gallery .woocommerce-product-gallery__image>a .wp-post-image, 
	.woocommerce-product-gallery .woocommerce-product-gallery__image>a img {
		max-width: 370px;
		width: 100%;
		height: 370px;
	}
	.content-box .content-flex {
		flex-direction: column;
	}
	.content-box .content-flex .summary .product_title {
		display: none;
	}
	.content-box .content-flex .summary .product_meta {
		display: none;
	}
	.woocommerce-product-gallery {
		max-width: 400px;
		width: 100%;
	}
	.content-box .content-flex .summary {
		width: 100%;
		max-width: 400px;
  	}
	.site-main>.product {
		flex-direction: column;
	}
	.content-box {
		max-width: 400px;
		width: 100%;
	}
	.featured-products {
		max-width: 400px;
		width: 100%;
	}
	.woocommerce-product-gallery .flex-control-nav {
		max-width: 83%;
		width: 100%;
		margin-top: 0;
	}
	.content-box .tabs-box .woocommerce-Tabs-panel {
		font-size: 14px;
		line-height: 19px;
	}
	.content-box .tabs-box .tabs {
		margin-bottom: 20px;
	}
	.content-box .tabs-box .woocommerce-tabs {
		padding-bottom: 20px;
		margin-bottom: 60px;
  	}
	.content-box .tabs-box .tabs li a {
		font-size: 16px;
	}
	.content-box .tabs-box .tabs li {
		width: 50%;
		text-align: center;
	}
	.woocommerce-add-to-cart .box-link .link-class, 
	.woocommerce-variation-add-to-cart .box-link .link-class {
		font-size: 14px;
	}
	.woocommerce-add-to-cart .single_add_to_cart_button .link-add-to-cart, 
	.woocommerce-variation-add-to-cart .single_add_to_cart_button .link-add-to-cart {
		font-size: 16px;
	}
	.woocommerce-add-to-cart .single_add_to_cart_button, 
	.woocommerce-variation-add-to-cart .single_add_to_cart_button {
		width: 232px;
	}
	.woocommerce-add-to-cart .box-link, .woocommerce-variation-add-to-cart .box-link {
		margin-top: 10px;
	}
	.content-box .content-flex {
		margin-bottom: 20px;
	}
	.content-box .content-flex .summary .product_price .price {
		font-size: 16px;
		line-height: 20px;
	}
	.content-box .content-flex .summary .product_price .price .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
		font-size: 16px;
		line-height: 20px;
	}
	.content-box .content-flex .summary .product_price .price .woocommerce-Price-amount {
		font-size: 26px;
		line-height: 33px;
	}
	.content-box .content-flex .summary .product_price .onsale {
		margin-left: 20px;
		margin-bottom: 0px;
  	}
	.content-box .content-flex .summary .product_price {
		margin-top: 20px;
	}
	.main-condition {
		font-size: 12px;
	}
	.main-condition form button {
		font-size: 12px;
	}
	.wrapper-header-mobile {
		margin-bottom: 20px;
  	}
	.mobile-header-product {
		display: block;
		margin-bottom: 20px;
	}
	.mobile-header-product .entry-title {
		color: #fff;
		font-size: 16px;
		line-height: 130%;
		@include fontBold();
		margin-bottom: 10px;
	}
	.mobile-header-product .product_meta .sku_wrapper {
		color: #A6A6A6;
		font-size: 12px;
		line-height: 130%;
		@include fontRegular();
	}
	.mobile-header-product .product_meta .posted_in {
		display: none;
	}
	.content-box .content-flex .summary .variations_form .single_variation_wrap .single_variation .woocommerce-variation-price .price {
		font-size: 16px;
		line-height: 20px;
	}
	.content-box .content-flex .summary .variations_form .single_variation_wrap .single_variation .woocommerce-variation-price .price .woocommerce-Price-amount {
		font-size: 26px;
		line-height: 130%;
	}
	.content-box .content-flex .summary .variations_form .single_variation_wrap .single_variation .woocommerce-variation-price .price .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
		font-size: 16px;
		line-height: 20px;
	}
	.popup .popup-content {
		width: 97%;
		margin: 0px auto;
  	}
	.wrapper .photo {
		max-width: 380px;
		width: 100%;
		height: 320px;
	}
	.wrapper .photo img {
		max-width: 380px;
		width: 100%;
		height: 320px;
		object-fit: cover;
		object-position: center;
	}
	.content-serveces {
		flex-direction: column;
	}
	.left-content-wp {
		width: 100%;
	}
	.right-content-wp {
		width: 100%;
	}
	.left-content-wp h3 {
		font-size: 16px;
		line-height: 22px;
	}
	.left-content-wp p {
		font-size: 14px;
		line-height: 20px;
		padding-top: 15px;
	}
	.left-content-wp ul {
		padding-top: 10px;
	}
	.left-content-wp ul li {
		font-size: 14px;
		line-height: 20px;
	}
	.left-content-wp ol li {
		font-size: 14px;
		line-height: 20px;
	}
	.left-content-wp ul li a {
		font-size: 14px;
		line-height: 20px;
	}
	.left-content-wp {
		padding-bottom: 40px;
	}
	.right-content-wp {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.right-content-wp .window-content button {
		width: 100%;
	}
	.wrapper .title-page {
		font-size: 26px;
		padding-bottom: 20px;
	}
	.form-filter .right .count-box {
		display: none;
	}
	#salefilter.form-filter .left .select-class {
		left: 0;
		top: -5px
	}
	#salefilter.form-filter {
		margin-bottom: 40px;
	}
	.title-page {
		font-size: 26px;
		padding-bottom: 20px;
	}
	.box-count .right {
		display: none;
	}
	.box-count .left {
		width: 100%;
	}
	.title-class {
		font-size: 12px;
	}
	.wrapper .box-title {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	.wrapper .box-title .title-page {
		padding-bottom: 20px;
	}
	.wrapper .box-title .count-order {
		font-size: 12px;
	}
	.wrapper .box-title .count-order span {
		font-weight: 600;
	}
	.shop_table thead {
		display: none;
	}
	.shop_table {
		border-top: 1px solid #fff;
	}
	.product-number-mobile {
		display: block;
		font-size: 13px;
		line-height: 16px;
		@include fontRegular();
		color: #a6a6a6;
		margin-right: 5px;
	}
	.shop_table .woocommerce-cart-form__cart-item {
		position: relative;
	}
	.shop_table tbody .cart_item .product-number {
		font-size: 14px;
		position: absolute;
		display: flex;
		top: 20px;
  	}
	.product-remove-mobile {
		display: block;
		font-size: 13px;
		line-height: 16px;
		@include fontRegular();
		color: #a6a6a6;
	}
	.product-remove {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
	}
	.product-thumbnail {
		width: 160px;
	}
	.shop_table tbody .cart_item .product-name a {
		font-size: 14px;
	}
	.product-stock {
		position: absolute;
		left: 0;
		bottom: 40px;
	}
	.product-quantity {
		position: absolute;
		left: 180px;
		bottom: 36px;
	}
	.shop_table tbody .cart_item .product-name {
		vertical-align: top;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 0;
		text-align: left;
		position: absolute;
		top: 0;
  	}
	.shop_table tbody .product-action .actions .coupon {
		width: 100%;
	}
	.woocommerce-billing-fields__field-wrapper {
		flex-direction: column;
	}
	.box-shipping {
		flex-direction: column;
		align-items: flex-start;
	}
	.btn-box-checkout {
		flex-direction: column;
	}
	.woocommerce-billing-fields__field-wrapper input[type=email], 
	.woocommerce-billing-fields__field-wrapper input[type=tel], 
	.woocommerce-billing-fields__field-wrapper input[type=text],
	.box-shipping-block .click-shipping {
		width: 100%;
		max-width: 380px;
  	}
	.btn-box-checkout .add-order {
		width: 100%;
	}
	.checkout.woocommerce-checkout {
		padding: 40px 25px;
	}
	.box-shipping-block {
		width: 100%;
		margin-bottom: 20px;
	}
	.box-shipping .warning {
		margin-left: 0;
	}
	.btn-box-checkout .add-order {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.sign-up {
		font-size: 16px;
	}
	.woocommerce-form__label-for-checkbox a {
		font-size: 14px;
	}
	.input-checkbox-text {
		font-size: 14px;
	}
	.box-shipping-block .woocommerce-shipping-methods {
		width: 100%;
	}
	.place-order .validate-required {
		margin-bottom: 50px;
	}
	form .wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.content-faq {
		flex-direction: column;
	}
	.content-faq .left-faq {
		width: 100%;
		margin-bottom: 40px;
	}
	.content-faq .left-faq .ask .question-answer .question .quest {
		font-size: 16px;
		line-height: 22px;
		padding-right: 20px;
	}
	.content-faq .left-faq .ask .question-answer:not(:last-child) {
		margin-bottom: 10px;
  	}
	.content-faq .left-faq .ask .question-answer.active .answer {
		max-height: 200px;
		padding-top: 10px;
	}
	.form-content {
		background-color: #494949;
		padding: 50px 25px 50px 25px;
		width: 100%;
	}
	.title-form {
		font-size: 22px;
	}
	.right-faq {
		margin-bottom: 40px;
	}
	.content-faq .left-faq p {
		font-size: 16px;
		padding-bottom: 25px;
	}
	.content-faq .left-faq .ask {
		margin-top: 15px;
	}
	.contacts {
		flex-direction: column;
	}
	.contacts .left-contacts {
		width: 100%;
	}
	.right-contacts {
		margin-bottom: 40px;
	}
	.contacts .left-contacts .block .item {
		width: 100%;
	}
	.condition {
		flex-direction: column;
	}
	.right-conditions {
		margin-bottom: 40px;
	}
	input[type=email], 
	input[type=password], 
	input[type=tel],
	input[type=text],
	textarea,
	input[type=submit] {
		width: 100%;
	}
	.left-content-wp h3 {
		margin-top: 20px;
  	}
	.form-filter .left .select-class {
		top: -19px;
	}
	.wrapper-account .left-box {
		display: none;
	}
	.wrapper-account .right-box .u-column-content {
		width: 100%;
		padding: 50px 25px;
	}
	.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-total {
		width: 30%;
		line-height: 20px;
	}
	.woocommerce-orders-table__row.order td {
		font-size: 14px;
		line-height: 16px;
	}
	.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-status {
		font-size: 14px;
		line-height: 16px;
	}
	.woocommerce-orders-table__row.order td .woocommerce-Price-amount {
		color: #FACE50;
	}
	.wrapper-account .right-box.active .woocommerce-orders-table__row {
		height: 55px;
		line-height: 55px;
  	}
	.woocommerce .wrapper .content-cart .cart-collaterals {
		width: 100%;
		max-width: 400px;
		right: 0;
		position: initial;
		bottom: 0;
		margin-bottom: 60px;
  	}
	.shop_table tbody .product-action .actions .coupon .feedback input[type=text] {
		width: 100%;
	}
	.shop_table tbody .product-action .actions .coupon {
		padding-left: 30px;
		padding-right: 30px;
	}
	.shop_table tbody .product-action .actions .coupon .feedback {
		display: flex;
		align-items: baseline;
	}
	.shop_table tbody .product-action .actions .coupon label {
		font-size: 16px;
	}
	.shop_table tbody .product-action .actions {
		padding-bottom: 20px;
	}
	.shop_table tbody .cart_item td .amount bdi {
		font-size: 18px;
		line-height: 23px;
	}
	.shop_table tbody .cart_item td .amount bdi span {
		font-size: 14px;
		line-height: 18px;
	}
	.shop_table tbody .cart_item .product-name .articul {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.shop_table tbody .cart_item .product-stock .stock {
		font-size: 14px;
	}
	.shop_table tbody .cart_item td .stock {
		width: 153px;
		height: 38px;
	}
	.product-quantity .qib-container .quantity input.qty:not(#qib_id):not(#qib_id) {
		height: 38px;
	}
	.product-quantity .qib-button:not(#qib_id):not(#qib_id) {
		height: 38px;
	}
	.product-quantity .qib-container {
		width: 113px;
		height: 38px;
	}
	.shop_table tbody .cart_item td a img {
		margin-top: 60px;
		margin-bottom: 125px;
	}
	.woocommerce-cart-form .shop_table tbody .cart_item td.product-price {
		position: relative;
		display: flex;
		margin-left: 20px;
		bottom: -40px;
	}
	.shop_table tbody .cart_item .product-remove a {
		width: 10px;
		height: 10px;
	}
	.shop_table tbody .cart_item .product-remove a:before {
		top: 4px;
		left: 12px;
	}
	.shop_table tbody .cart_item .product-remove a:after {
		top: 4px;
		left: 12px;
	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout {
		width: 100%;
	}
	.product-stock-mobile {
		display: flex;
		justify-content: flex-start;
		font-size: 13px;
		line-height: 16px;
		@include fontRegular();
		color: #a6a6a6;
		margin-bottom: 10px;
	}
	.cart_totals .shop_table {
		border-top: 0px solid #fff;
  	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals .shop_table tr th {
		font-size: 13px;
	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals .shop_table tr td .amount bdi {
		font-size: 18px;
	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals .shop_table tr td .amount bdi span {
		font-size: 13px;
	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
		font-size: 16px;
	}
	.products .product .woocommerce-LoopProduct-link img {
		max-width: 180px;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.wpcf7-form {
		width: 90%;
		margin: 0 auto;
  }
  	.woocommerce-add-to-cart .single_add_to_cart_button,
	.woocommerce-variation-add-to-cart .single_add_to_cart_button {
		width: calc(100% - 120px);
  	}
	.woocommerce-add-to-cart, .woocommerce-variation-add-to-cart {
		background-color: #1b1e1d;
		padding: 20px 10px;
		display: flex;
		flex-wrap: wrap;
 	}
	.wrapper-account .right-box {
		width: 100%;
		max-width: 420px;
  	}
	  .wrapper-account .right-box .u-column-content .woocommerce-form-login {
		width: 100%;
		max-width: 100%;
  }
}

@media (max-width: 380px) {
	.footer .center-footer ul li {
		position: relative;
		padding: 0 10px;
  	}
	.products .product {
		max-width: 173px;
	}
	.products .product .more-details {
		padding: 5px 25px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 14px;
	}
}

@media (max-width: 320px) {
	.woocommerce-add-to-cart .single_add_to_cart_button, 
	.woocommerce-variation-add-to-cart .single_add_to_cart_button {
		width: 100%;
	}
	.products .product {
		max-width: 146px;
	}
	.products .product .more-details {
		padding: 5px 15px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 12px;
		left: 40px;
  	}
	.equipment .wrapper .right .tabs-content .right-title .title {
		font-size: 16px;
	}
	.woocommerce .wrapper .content-cart .cart-collaterals .cart_totals {
		padding: 20px;
	}
	.shop_table tbody .product-action .actions .coupon {
		padding-left: 20px;
		padding-right: 20px;
  	}
}