.content-mobile-nav {
	display: none;
}
.header .menu-content-mobile {
	display: none;
}
.wrapper-header-mobile {
	display: none;
}
.motoman-mobile {
	display: none;
}
.btn-filter-form {
	display: none;
}
.blur-class {
	display: none;
}

@media (max-width: 1200px) {
	.header .menu-content {
		flex-wrap: wrap;
	}
}

@media (max-width: 1020px) {

}

@media (max-width: 767px) {

}

@media (max-width: 576px) {

	.content-mobile-nav {
		display: block;
	}
	.header .menu-content-mobile {
		display: block;
	}
	.wrapper-header-mobile {
		display: block;
	}
	
	.content-area, .wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.our-advantages {
		flex-direction: column;
		align-items: flex-start;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.our-advantages .content {
		margin-bottom: 30px;
	}
	.header .wrapper-top-header {
		display: none;
	}
	.header .center-header {
		display: none;
	}
	.center-header-mobile {
		display: block;
	}
	.header .menu-content-desctop {
		display: none;
	}
	.header .menu-content-mobile {
		display: flex;
	}
	.header .menu-content .item-box .menu-item .button-form {
		max-width: 200px;
		width: 100%;
	}
	.header .menu-content .item-box {
		width: 48%;
	}
	.slider-box .slider-header .slide .content-slide .title {
		transform: none;
		margin-top: 0;
		margin-left: 0;
		padding: 20px;
		width: 100%;
	}
	.slider-box .slider-header .slide .content-slide .title span {
		font-size: 19px;
		line-height: 24px;
	}
	.slider-box .slider-header .slide .content-slide .action-time span {
		font-size: 14px;
		line-height: 20px;
		padding: 20px;
		padding-left: 56px;
	}
	.slider-box .slider-header .slide .content-slide .action-time span:before {
		content: '';
		display: inline-block;
		width: 150%;
		height: 52px;
		border: 3px solid #fff;
		position: absolute;
		top: -10px;
		right: -15px;
		z-index: -1;
	}
	.slider-box .slider-header .slide .content-slide .action-time {
	  margin-left: -30px;
	  width: 240px;
	  margin-top: 15px;
	}
	.slider-box .slider-header .slide .content-slide .image-slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 534px;
		z-index: -1;
		object-fit: cover;
		object-position: center;
	}
	// .slider-header .slick-prev {
	// 	display: none !important;
	// }
	// .slider-header .slick-next {
	// 	display: none !important;
	// }
	.title-block:before {
		display: none;
	}
	.title-block span {
		padding: 0;
	}
	.title-block {
		font-size: 24px;
	}
	.products {
		margin-left: 0;
		margin-right: 0;
		justify-content: space-between;
	}
	.products .product {
		max-width: 180px;
		width: 100%;
		min-height: 330px;
		margin-left: 0;
		margin-right: 0;
	}
	.products .product .woocommerce-LoopProduct-link {
		max-width: 180px;
		width: 100%;
		height: 240px;
	}
	.products .product .link-title .woocommerce-loop-product__title {
		font-size: 13px;
	}
	.products .product .more-details {
		font-size: 13px;
	}
	.products .product .price {
		font-size: 16px;
		margin-top: -30px;
		margin-left: 10px;
		font-weight: 700;
	}
	.products .product .price .woocommerce-Price-currencySymbol {
		font-size: 13px;
	}
	.products .product .woocommerce-LoopProduct-link .onsale {
		font-size: 12px;
		padding: 2px 10px;
		right: 10px;
		bottom: 10px;
	}
	.products .product .more-details {
		padding: 5px 30px;
	}
	.products .product .link-add-to-cart {
		right: 0px;
		bottom: 10px;
		width: 28px;
		height: 28px;
	}
	.products .product .link-title .woocommerce-loop-product__title:before {
		height: 35px;
	}
	.products .product .link-title .woocommerce-loop-product__title {
		margin-top: 0;
		margin-bottom: 40px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.products .product .link-title {
		margin-top: 20px;
	}
	.instagram .instagram-box .instagram-post a {
		width: 100%;
		height: 380px;
		display: inline-block;
  	}
	.instagram .instagram-box .instagram-post a img {
		width: 100%;
		height: 380px;
		object-fit: cover;
  	}
	.services .wrapper .service-box {
		grid-template-columns: 215px;
	}
	.services .wrapper .services-bg {
		height: 100%;
	}
	.sign-up {
		position: inherit;
		right: 0;
		bottom: 0;
	}
	.services .wrapper .title {
		font-size: 26px;
		text-align: center;
	}
	.footer .center-footer ul {
		display: initial;
		column-count: 2;
    	column-width: 150px;
	}
	.footer .center-footer ul li a {
		font-size: 13px;
	}
	.footer .center-footer ul li:not(:last-child):after {
		display: none;
	}
	.footer .center-footer ul li {
		margin-bottom: 15px;
	}
	.footer .center-footer {
		padding-top: 20px;
		padding-bottom: 5px;
		height: 100%;
	}
	.footer .bottom-footer {
		height: 100%;
		flex-wrap: wrap;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer .bottom-footer .item-footer:nth-child(1) {
		order: 1;
		width: 50%;
		margin-bottom: 20px;
	}
	.footer .bottom-footer .item-footer:nth-child(2) {
		order: 3;
		width: 100%;
	}
	.footer .bottom-footer .item-footer:nth-child(3) {
		order: 2;
		width: 50%;
		margin-bottom: 20px;
	}
	.footer .bottom-footer .item-footer button {
		padding: 0;
		margin-top: 10px;
	}
	.instagram .instagram-box {
		max-width: 380px;
		width: 100%;
	}
	.equipment {
		height: 100%;
	}
	.equipment .wrapper.tabs {
		flex-direction: column;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:before {
		display: none;
	}
	
	.equipment .wrapper .left .tabs-nav {
		flex-direction: column;
	}
	.equipment .wrapper .left {
		width: 100%;
	}
	.equipment .wrapper .right {
		width: 100%;
	}
	.equipment .wrapper .left .tabs-nav .motoman {
		display: none;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:not(:last-child) {
		margin-bottom: 15px;
  	}
	.equipment .wrapper .left .title {
		font-size: 26px;
	}
	.motoman-mobile {
		display: block;
		margin-top: -30px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 15px;
		max-width: 50%;
		width: 100%;
		position: relative;
		left: 50px;
		order: 1;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item:nth-child(8) {
		order: 2;
	}
	.equipment .wrapper .left .tabs-nav .nav {
		margin-left: 0;
		margin-top: 10px;
		padding-top: 5px;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item label:after {
		left: -25px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item label:before {
		left: -25px;
	}
	.equipment .wrapper .right .tabs-content .slider-tab .slick-dots {
		position: absolute;
		top: -40px;
		right: 0;
		bottom: auto;
		width: 78px;
  	}
	.equipment .wrapper .right .tabs-content .right-title .title {
		margin-top: 0;
		font-size: 18px;
		position: relative;
		bottom: -25px;
		margin-left: 7px;
	}
	.equipment .wrapper .right .tabs-content .right-title .slider-navigation {
		display: none;
	}
	.products .product .link-add-to-cart .add_to_cart_button {
		width: 30px;
		height: 30px;
	}
	.products .product .link-add-to-cart>svg {
		width: 15px;
		height: 15px;
	}
	.equipment .wrapper .right .tabs-content .slider-tab .product .link-add-to-cart>svg {
		width: 15px;
		height: 15px;
	}
	.icon-product-box>li span.icon-product-hit,
	.icon-product-box>li span.icon-product-sale,
	.icon-product-box>li span.icon-product-new {
		font-size: 12px;
		padding: 2px 10px;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form:before {
		display: none;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form:after {
		display: none;
	}
	.header .menu-content .item-box.item-box-no-hover.active .menu-item .button-form:before {
		display: none;
	}
	.header .menu-content .item-box .menu-item .button-form:after {
		display: none;
	}
	.header .menu-content .item-box .menu-item .button-form {
		height: 100px;
	}
	.header .menu-content .item-box.item-box-hover.active .menu-item .button-form {
		height: 107px;
	}
	.header .menu-content .item-box.item-box-no-hover.active .menu-item .button-form {
		height: 107px;
	}
	.wrapper-header-mobile {
		.top {
			background-color: #fff;
			height: 80px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.nav-mobile {
				position: relative;
				width: 50px;
				height: 50px;
				cursor: pointer;
				border-radius: 50%;
				z-index: 450;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.line {
					width: 30px;
					height: 2px;
					display: block;
					background-color: #323534;
					transition: $transition;
					position: relative;
					&:before {
						content:'';
						display: inline-block;
						width: 30px;
						height: 2px;
						background-color: #323534;
						position: absolute;
						top: 7px;
						left: 0;
					}
					&:after {
						content:'';
						display: inline-block;
						width: 30px;
						height: 2px;
						background-color: #323534;
						position: absolute;
						bottom: 7px;
						left: 0;
					}
				}
				// &.nav-active {
					
				// }
			}
			.logo {
				max-width: 220px;
			}
			.cart-box {
				margin-left: 0;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				.basket-btn img {
					width: 30px;
					height: 30px;
				}
			}
		}
		.bottom {
			height: 70px;
			display: flex;
			align-items: flex-end;
			.search {
				width: 100%;
				.woocommerce {
					min-height: auto;
				}
			}
		}
	}
	.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
		width: 100%;
		height: 50px;
		font-size: 14px;
		line-height: 100%;
		padding: 10px 15px;
		margin: 0;
		background: transparent;
		border: 2px solid #fff;
		border-radius: 3px;
		box-sizing: border-box;
  	}
	.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
		padding: 0;
		height: 50px;
	}
	.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
		display: none;
	}
	.slick-initialized .slick-slide > div {
		display: flex;
		justify-content: center;
	}
	.cart-box .basket-btn-counter {
		top: 6px;
		right: 0;
	}
	.services .wrapper .content {
		position: relative;
		padding: 50px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
  	}
	.content-mobile-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 700;
		background: rgba(27, 30, 29, 0.4);
		backdrop-filter: blur(8px);
		height: 100vh;
		width: 100%;
		display: none;
		transition: $transition;
		&.active {
			display: flex;
			transition: $transition;
		}
		.content {
			position: relative;
			z-index: 500;
			width: 300px;
			background-color: #323534;
			padding: 20px;
			box-sizing: border-box;
			overflow-y: scroll;
			.title-mobile-nav {
				font-size: 16px;
				line-height: 140%;
				color: #FFFFFF;
				@include fontBold();
				padding-bottom: 15px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
			}
			.box-menu-1 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
				.basket-btn {
					font-size: 16px;
					line-height: 140%;
					letter-spacing: 0.02em;
					color: #FFFFFF;
					@include fontRegular();
					&:not(:last-child) {
						margin-bottom: 10px;
					}
					img {
						width: 30px;
						height: 30px;
						object-fit: contain;
						object-position: center;
					}
				}
			}
			.box-menu-2 {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #FACE50;
				.catalog-menu {
					.catalog-title {
						@include fontRegular();
						font-size: 16px;
						line-height: 140%;
						letter-spacing: 0.02em;
						color: #FFFFFF;
						margin-bottom: 18px;					
					}
					.menu-content-mobile-nav {
						display: none;
						&.active {
							display: block;
						}
						.item-box {
							margin-bottom: 18px;
							.menu-item {
								font-size: 16px;
								line-height: 140%;
								letter-spacing: 0.02em;
								color: #FFFFFF;
								@include fontRegular();
								cursor: pointer;
								padding-left: 10px;
								display: inline-block;
								position: relative;
								&:before {
									content:'';
									display: inline-block;
									width: 3px;
									height: 3px;
									background-color: #FACE50;
									position: absolute;
									top: 10px;
									left: 0;
									border-radius: 50%;
								}
								.button-form {
									background-color: transparent;
									font-size: 16px;
									line-height: 140%;
									letter-spacing: 0.02em;
									color: #FFFFFF;
									@include fontRegular();
									padding: 0;
								}
							}
						}
					}
				}
				.top-right-menu-mobile {
					li {
						&:not(:last-child) {
							margin-bottom: 18px;
						}
						a {
							@include fontRegular();
							font-size: 16px;
							line-height: 140%;
							letter-spacing: 0.02em;
							color: #FFFFFF;
						}
					}
				}
			}
			.box-menu-3 {
				.box-soc-title {
					@include fontBold();
					font-size: 16px;
					line-height: 140%;
					color: #FFFFFF;
					margin-bottom: 10px;
				}
				.social {
					li {
						&:not(:last-child) {
							padding: 0;
							padding-right: 20px;
					  }
					}
				}
			}
		}
	}
	.catalog-content .left-filter {
		position: absolute;
		left: -308px;
		z-index: 500;
	}
	.catalog-content .right-content {
		width: 100%;
	}
	#response {
		justify-content: space-between;
	}
	#catalog_loadmore .btn_click, #true_loadmore .btn_click {
		width: 100%;
	}
	.catalog-content {
		margin-bottom: 0;
	}
	#response .right {
		display: none;
	}
	.main-condition-mobile {
		margin-top: 20px;
	}
	.form-filter .left .title-class {
		display: none;
	}
	.form-filter .left .select-class {
		border: 1px solid #fff;
		left: 10px;
		width: 180px;
		max-height: 27px;
	}
	.form-filter .left .select-class {
		@include fontRegular();
		font-size: 12px;
	}
	.btn-filter-form {
		display: flex;
		justify-content: flex-end;
		margin-top: -45px;
		margin-bottom: 20px;
	}
	.btn-filter-form span {
		width: 180px;
		height: 27px;
		line-height: 27px;
		text-align: center;
		background: #FACE50;
		border-radius: 1px;
		@include fontRegular();
		font-size: 12px;
	}
	.catalog-content .left-filter.active-filter {
		left: -10px;
		display: flex;
    	align-items: flex-start;
	}
	.form-absolute.active {
		display: none;
	}
	.catalog-content .blur-class.active {
		display: block;
		position: absolute;
		top: 0;
		left: -10px;
		background: rgba(27, 30, 29, 0.4);
		backdrop-filter: blur(8px);
		height: 100%;
		width: 110%;
		z-index: 40;
	}
	.content-area {
		overflow: hidden;
	} 
}

@media (max-width: 380px) {
	.products .product {
		max-width: 173px;
	}
	.products .product .more-details {
		padding: 5px 25px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 14px;
	}
}

@media (max-width: 320px) {
	.products .product {
		max-width: 146px;
	}
	.products .product .more-details {
		padding: 5px 15px;
	}
	.equipment .wrapper .left .tabs-nav .nav .tab-item {
		font-size: 12px;
		left: 40px;
  	}
	.equipment .wrapper .right .tabs-content .right-title .title {
		font-size: 16px;
	}
}