.form-content {
	background-color: #494949;
	padding: 50px 27px 50px 40px;
	width: 390px;
	.politik-text  {
		margin-bottom: 0;
	}
}

.title-form {
	font-size: 24px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-align: left;
	color: #FFFFFF;
	display: block;
	margin-bottom: 15px;
	@include fontBold();
	font-weight: 600;
}


.wpcf7-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	.wpcf7-form-control-wrap {
		position: relative;
	}
	
}
input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
	width: 310px;
	height: 48px;
	font-size: 14px;
	line-height: 130%;
	color: #fff;
	@include fontBold();
	border: 1px solid #A6A6A6;
	box-sizing: border-box;
	border-radius: 1px;
	background: transparent;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 10px;
	&:focus {
		background: #323534;
		border: 1px solid #FACE50;
		color: #f5f5f5;
	}
	&.wpcf7-not-valid {
		border: 1px solid red;
		background: #323534;
		color: #f5f5f5;
	}
}
input[type=submit] {
	background: #FACE50;
	border-radius: 1px;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #323534;
	@include fontBold();
	font-weight: 600;
	width: 310px;
	height: 48px;
	cursor: pointer;
	margin-bottom: 15px;
	transition: $transition;
	&:hover {
		transition: $transition;
		background: #c99606;
	}
}
textarea {
	width: 310px;
	height: 125px;
	padding-top: 15px;
	font-size: 14px;
	line-height: 130%;
	color: #A6A6A6;
	@include fontBold();
	border: 1px solid #A6A6A6;
	box-sizing: border-box;
	border-radius: 1px;
	background: transparent;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 10px;
	&:focus {
		background: #323534;
		border: 1px solid #FACE50;
		color: #f5f5f5;
	}
	&.wpcf7-not-valid {
		border: 1px solid red;
		background: #323534;
		color: #f5f5f5;
	}
}
.politik-text {
	font-size: 12px;
	line-height: 140%;
	color: #A6A6A6;
	@include fontRegular();
	width: 310px;
	margin: 0 auto;
	margin-bottom: 50px;
	a {
		font-size: 12px;
		line-height: 140%;
		color: #A6A6A6;
		@include fontRegular();
		position: relative;
		&:before {
			content: '';
			display: inline-block;
			width: 100%;
			height: 1px;
			background-color: #A6A6A6;
			position: absolute;
			left: 0;
			bottom: 0;
			transition: $transition;
		}
		&:hover {
			&:before {
				content: '';
				background-color: transparent;
				transition: $transition;
			}
		}
	}
}